//
   Created by toby on 09/05/15.

doctype html
html
   head
      link(rel="stylesheet", href="javascripts/webix/codebase/webix.css", type="text/css")
      link(rel="stylesheet", href="stylesheets/style.css", type="text/css")
      script(type="text/javascript", src="javascripts/webix/codebase/webix_debug.js")
      script(type="text/javascript", src="javascripts/unitData.js")
      script(type="text/javascript", src="javascripts/authServer.js")
   body


